body {
    background-color: rgb(199, 204, 204);
    font-family: 'Germania One', cursive;
}

option {
    border: 0px;
    width: 100%;
    background-color: rgba(240, 255, 255, 0.445)
}

label {
    font-size: 16px;
    color: rgb(0, 0, 0);
    opacity: 1;
}

h3 {
    font-family: 'Staatliches', 'Oswald';
    color: #111111;
    font-size: 25px;
    text-transform: uppercase;
    margin: 6%;
    text-align: center;
}

.input-center{
    text-align: center;
}

.input-q {
    width: 30%;
    position: relative;
    top: -35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.select-news {
    display: flex;
    justify-content: center;
}

.select-div {
    display: flex;
    width: 70%;
    background: #bdb9b9;
    height: 110px;
    opacity: 0.9;
    border-radius: 10px;
}

.select-div > div {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.middle {
    width: 90%;
    margin: 10px 15px;
    font-family: 'Times New Roman', Times, serif
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.one-news {
    display: flex;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 20px;
    padding: 5px;

}

.img-news {
    width: 98%;
    margin: 10px 0;
}

.link-news {
    text-decoration: none;
    font-size: 18px;
    color: black;
}